<template name="jobForm">
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
			<div class="well text-center">
                <img src="/img/39996.png" alt="Ghostbusters" width="400px"/>
                <hr/>
                <form id="jobForm" action="#" class="">
                    <label class="control-label lead" for="jobInput">Is there something strange in the neighborhood?</label>
                    <input type="text" class="form-control" id="jobInput"/>
                    <hr/>
                    <input type="submit" id="jobSubmit" class="btn btn-primary" value="Submit!"/>
                </form>
			</div>
        </div>
    </div>
</template>